<%= f.fields_for :tasks, @list.tasks.build do |task_form| %>
  <h3>Add a Task</h3>
  <%= task_form.label :content %>
  <%= task_form.text_field :content, class: 'form-control', placeholder: 'Don\'t lose plans to death star', required: true %>
<% end %>
