  <div class="card">
    <h5 class="<%= list.status %>">
      <%= link_to list.title, user_list_path(current_user, list) %>
    </h5>
    <ul>
      <% list.tasks.each do |task| %>
      <li class="<%= task.status %>">
        <%= link_to task.content, user_task_path(current_user, task) %>
      </li>
      <% end %>
    </ul>
  </div>
