<%= form_wrapper do %>
  <h2>Leader Board for Completed Tasks</h2>
  <% @most_completed.each.with_index(1) do |item, index| %>
    <%= index %>. <%= item[:user].email %> - <%= item[:quantity] %> <br>
  <% end %>
<% end %>
