html, .container, .wrapper {
  background-color: #EBEBEB;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10px 10px 0;
  border: 0.05em solid rgba(194,194,194,0.7);
}

.delete-btn {
  margin-top: 15px;
}
