<nav class="navbar navbar-default">
  <div class="container-fluid">
    <%= render 'layouts/nav_header' %>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= render 'layouts/nav_left' %>
      <%= render 'layouts/nav_right' %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
